<footer>
    <div class="container">
        <div class="foot"> 
            <div>
                <b>Marketplace</b>
                <div style="margin-top:10px" class="small">© جميع الحقوق محفوظة</div>
        </div>
            <div class="links">
                <b>روابط</b>
                <a href="{% url 'category_list' %}">التصنيفات</a>
                <a href="{% url 'product_list' %}">المنتجات</a>
                <a href="{% url 'vendors' %}">البائعون</a>
            </div>
            <div class="links">
                <b>الحساب</b>
                <a href="{% url 'login' %}">تسجيل دخول مشتري</a>
            </div>
        </div>
    </div>
</footer>
