{% load static %}
<!doctype html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>تأكيد رمز التحقق | Marketplace</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

{% block content %}


{% endblock %}

    <script src="{% static 'js/theme-toggle.js' %}"></script>
</body>
</html>